<app-intro-section></app-intro-section>
<div class="container grid w-full lg:w-2/5 mt-10 mx-auto font-roboto">
    <div class="bg-slate-500 dark:bg-slate-900 rounded w-3/5 md:w-2/5 mx-auto p-2">
        <p class="text-white text-2xl text-center">About me</p>
    </div>
    <div class="w-full mx-auto">
        <div class="w-full md:w-5/5 grid grid-cols-2 grid-flow-col mt-10 md:mt-0">
            <div class="md:mt-10 lg:mt-20">
                <p class="text-black dark:text-white p-3 text-xl indent-6">Miguel Diaz Campos</p>
                <p class="text-black dark:text-white p-3 text-center">Full Stack Developer <span class="text-cyan-300">||</span> Blockchain</p>
            </div>
            <div class="grid content-start">
                <img src="../../assets/imgs/me.png" class="rounded-full border border-indigo-500 dark:border-white border-4 scale-75 lg:scale-50 pt-0 h-50 w-60">
            </div>
        </div>
        <p class="text-dark dark:text-white p-3 indent-6 mt-10">
            Hello, I'm Miguel, a Full Stack Developer with a deep interest in Blockchain technology. 
            I define myself as a fast pace learner, language agnostic developer and moonlight workarounder 
            with many things to learn ahead of me. I felt in love with programming a few years ago, 
            it started as a hobby, but last year I had the chance to work as a full stack developer 
            for a project in my city council and I went all in, working in the mornings and acquiring the
            <a href="https://www.todofp.es/dam/jcr:7c3d42db-83bf-4abb-9d81-cd4f41fe1a1a/n-tsdesarrolloaplicacionesweben-pdf.pdf"
               class="underline decoration-cyan-300" 
            >
                Higher Technician in Development of Web Applications
            </a> 
            in the afternoons.  
        </p>        
        <p class="text-black dark:text-white mt-20 indent-6 text-2xl underline">Education</p>
        <div class="container grid grid-cols-2 mt-5 gap-4 w-full md:w-4/5">
            <div class="text-black dark:text-white indent-6">
                <p>2012 <span class="text-cyan-300">-</span> 2016</p>
            </div>
            <div class="text-black dark:text-white">
                <p>Graduate in Criminology and Public Security Sciences</p>
            </div>
            <div class="text-black dark:text-white indent-6">
                <p>2021 <span class="text-cyan-300">-</span> 2022</p>
            </div>
            <div class="text-black dark:text-white">
                <p>Higher Technician in Development of Web Applications</p>
            </div>
            <div class="text-black dark:text-white indent-6">
                <p>2022 <span class="text-cyan-300">-</span> Now</p>
            </div>
            <div class="text-black dark:text-white">
                <p>Master in Blockchain Engineering</p>
            </div>
        </div>
        <p class="text-black dark:text-white mt-20 indent-6 text-2xl underline">On the web</p>
        <div class="w-full md:w-3/5 mt-10">
            <p class="text-black dark:text-white indent-6"><img src="../../assets/icons/linkedin.png" class="bg-white rounded inline">&nbsp; &nbsp;<a href="https://www.linkedin.com/in/miguel-diaz-campos-6b4b6a251" class="underline decoration-cyan-500">@MiguelDiazCampos</a></p>
            <p class="text-black dark:text-white indent-6 mt-5"><img src="../../assets/icons/github.png" class="bg-white rounded inline">&nbsp; &nbsp;<a href="" class="underline decoration-cyan-500">@mdcdev</a></p>
        </div>
        
    </div>
</div>
